* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  color: azure;
  overflow-x: hidden;
  /* Add this to your existing CSS or create a new CSS file */

  
  .tilt-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    z-index: 1000;
    backdrop-filter: blur(5px);
  }
  
  .navbar {
    position: absolute;
    width: 100vw;
    height: 11.204vh;
    top: 0;
    z-index: 3;
    background-attachment: fixed;
  }

  .Apply {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 102.855vh;
    flex-shrink: 0;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url("../../../public/assets/5473791 1.png"), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .Profile {
    margin-top: 100vh;
    width: 100vw;
    height: 685vh;
    background: #fff;
    position: absolute;
  }
}

@media (min-width: 559px) and (max-width: 1023px) {
  .App {
    .Apply {
      height: 72vh;
    }
  }
}
@media (min-width: 482px) and (max-width: 598px) {
  .App {
    .Apply {
      height: 65vh;
    }
  }
}
// Update your CSS for mobile view
@media (max-width: 481px) {
  .App {
    .Apply {
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url("../../../public/assets/mobile-apply-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 145vh;

      /* Add the following clip-path property to create a curved background */
      border-radius: 0 0 50% 50% / 0 0 30vw 30vw;
    }
  }
}
/* Add this to your existing CSS or create a new CSS file */
/* styles/App.css */
@media only screen and (orientation: landscape) {
    .tilt-warning {
      display: none;
    }
  }
  

