.main {
  font-family: "Poppins", sans-serif;
  flex-shrink: 0;
  color: aliceblue;
  overflow: hidden;
}
.main .container .sections {
  width: 100vw;
  margin-top: 12.04vh;
  display: flex;
  align-items: center;
  gap: 1.5625vw;
}
.main .container .sections .left-section {
  position: absolute;
  margin-top: 78vh;
  margin-left: 5vw;
}
.main .container .sections .left-section .heading {
  width: 30vw;
  height: 8.5vh;
  color: var(--Text-White, #EDE7FF);
  font-family: "Poppins";
  font-size: 3.125vw;
  font-style: normal;
  font-weight: 600;
  line-height: 4.0625vw; /* 130% */
}
.main .container .sections .left-section .para {
  margin-top: 2.5vh;
  width: 52.97vw;
  height: 5.55vw;
  color: #FF799F;
  font-family: "Poppins";
  font-size: 1.5625vw;
  font-style: normal;
  font-weight: 400;
  line-height: 4vh;
}
.main .container .sections .left-section .info {
  margin-top: 30px;
  width: 33.33vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Text-White, #EDE7FF);
  font-family: "Poppins";
  font-size: 1.3021vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.315vh;
}
.main .container .sections .left-section .info .info-2 {
  margin-left: -0.05vw;
}
.main .container .sections .left-section .span {
  width: 39.35vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Subheading, #F90);
  font-family: "Poppins";
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2vh;
  margin-top: 1.11vh;
}
.main .container .sections .left-section .span .span-2 {
  margin-left: 3.6vw;
}
.main .container .sections .left-section .certificate-section {
  display: flex;
  margin-top: 7.77vh;
  gap: 1.771vw;
}
.main .container .sections .left-section .certificate-section .resume-section {
  display: flex;
  gap: 1.6145vw;
}
.main .container .sections .left-section .certificate-section .resume-section .img {
  width: 3.125vw;
  height: 5.55vh;
  flex-shrink: 0;
}
.main .container .sections .left-section .certificate-section .resume-section p {
  width: 20.21vw;
  color: var(--Text-White, #EDE7FF);
  font-family: "Poppins";
  font-size: 1.042vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.77vh; /* 150% */
}
.main .container .sections .left-section .certificate-section .tenure-section {
  display: flex;
  gap: 1.6145vw;
}
.main .container .sections .left-section .certificate-section .tenure-section .img {
  width: 3.125vw;
  height: 5.55vh;
  flex-shrink: 0;
}
.main .container .sections .left-section .certificate-section .tenure-section p {
  width: 16.66vw;
  color: var(--Text-White, #EDE7FF);
  font-family: "Poppins";
  font-size: 1.0412vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.77vh; /* 150% */
}
.main .container .sections .right-section {
  width: 26.875vw;
  height: 68vh;
  position: absolute;
  display: inline-flex;
  align-items: flex-start;
  gap: 0.521vw;
  flex-shrink: 0;
  border-radius: 1.042vw;
  background: #FFF;
  right: 9vw;
  top: 20vh;
}
.main .container .sections .right-section .inner-right-section {
  height: 60vh;
  width: 21.302vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.823vw;
  position: absolute;
  right: 2.7604vw;
  top: 10.3703vh;
}
.main .container .sections .right-section .inner-right-section h1 {
  width: 12.8125vw;
  height: 3vh;
  color: var(--Background, #28196A);
  font-family: "Poppins";
  font-size: 1.302vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2.315vh; /* 100% */
}
.main .container .sections .right-section .inner-right-section .check-para-1 {
  width: 21.146vw;
  height: 5.4vh;
  flex-shrink: 0;
  display: flex;
  gap: 5px;
}
.main .container .sections .right-section .inner-right-section .check-para-1 img {
  width: 1.1032vw;
  height: 2.4535vh;
  flex-shrink: 0;
}
.main .container .sections .right-section .inner-right-section .check-para-1 p {
  width: 373px;
  color: var(--Text-Black, #1E1E1E);
  leading-trim: both;
  text-edge: cap;
  /* P1 */
  font-family: "Poppins";
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.77vh; /* 166.667% */
}
.main .container .sections .right-section .inner-right-section .check-para-2 {
  width: 17.242vw;
  height: 2.4535vh;
  flex-shrink: 0;
  display: flex;
  gap: 5px;
}
.main .container .sections .right-section .inner-right-section .check-para-2 img {
  width: 1.1032vw;
  height: 2.4535vh;
  flex-shrink: 0;
}
.main .container .sections .right-section .inner-right-section .check-para-2 p {
  width: 15.521vw;
  color: var(--Text-Black, #1E1E1E);
  leading-trim: both;
  text-edge: cap;
  /* P1 */
  font-family: "Poppins";
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.77vh; /* 166.667% */
}
.main .container .sections .right-section .inner-right-section .charges-section {
  width: 19.8vw;
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.055vh;
}
.main .container .sections .right-section .inner-right-section .charges-section p {
  color: var(--Background, #28196A);
  font-family: "Poppins";
  font-size: 1.5625vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2.315vh; /* 83.333% */
  letter-spacing: 1.5px;
  height: 25px;
}
.main .container .sections .right-section .inner-right-section .charges-section span {
  height: 25px;
  color: var(--Text-Pink, #FF5082);
  font-family: "Poppins";
  font-size: 1.5625vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2.315vh;
  letter-spacing: 1.5px;
}
.main .container .sections .right-section .inner-right-section .charges-section button {
  display: flex;
  width: 19.8vw;
  height: 5vh;
  cursor: pointer;
  padding: 20px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--Button, #5E42BB);
  color: var(--Text-White, #EDE7FF);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: "Poppins";
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.66vh; /* 100% */
}/*# sourceMappingURL=Apply.css.map */