.main-container {
  margin-top: 16.5vh;
  .information-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heading-section {
      transition: all;
      transition-duration: 600ms;
      margin-top: 16.5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3.021vw;
      h1 {
        color: var(--Headings, #5271ff);
        text-align: center;
        font-family: "Poppins";
        font-size: 2.6041vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .line-1 {
        width: 8.8541vw;
        height: 1px;
        background: rgba(30, 30, 30, 0.3);
      }
    }

    .feature-section {
      transition: all;
      transition-duration: 600ms;
      width: 47.24vw;
      height: 22.7vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: start;
      flex-wrap: wrap;
      gap: 3.5vw;
      flex-shrink: 0;
      margin-top: 4.815vh;
      .img-para {
        display: flex;
        gap: 0.6771vw;
        img {
          width: 3.125vw;
          height: 5.55vh;
          flex-shrink: 0;
        }
        p {
          transition: all;
          transition-duration: 600ms;
          width: 18vw;
          color: var(--Text-Black, #1e1e1e);
          leading-trim: both;
          text-edge: cap;

          /* P1 */
          font-family: "Poppins";
          font-size: 1.2vw;
          font-style: normal;
          font-weight: 400;
          line-height: 2.77vh; /* 166.667% */
        }
      }
      .img-para2 {
        margin-top: 2vh;
      }
    }
  }

  .who-we-are-section {
    margin: 0 auto;
    margin-left: 8vw;
    width: 82.3958vw;
    height: 50.833vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2916vw;

    .head-para {
      width: 60.5729vw;
      height: 16.66vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      .headings-section {
        transition: all;
        transition-duration: 600ms;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.021vw;
        h1 {
          color: var(--Headings, #5271ff);
          text-align: center;
          font-family: "Poppins";
          font-size: 2.6041vw;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .line-1 {
          width: 8.8541vw;
          height: 1px;
          background: rgba(30, 30, 30, 0.3);
        }
      }

      .para-section {
        transition: all;
        transition-duration: 600ms;
        width: 60.573vw;
        height: 8.33vh;
        text-align: center;
        color: var(--Text, #7a7a7a);
        text-align: center;

        /* P1 */
        font-family: "Poppins";
        font-size: 1.1vw;
        font-style: normal;
        font-weight: 400;
        line-height: 2.77vh; /* 166.667% */
      }
    }
    .feature-cards {
      width: 82.3958vw;
      height: 30.0926vh;
      display: flex;
      gap: 3.3854vw;

      .card {
        transition: all;
        transition-duration: 600ms;
        display: flex;
        width: 25.2083vw;
        height: 30.0925vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.8518vh;
        text-align: center;
        flex-shrink: 0;
        background-color: #f6f3ff;
        box-shadow: 0px 4px 8px rgb(218, 217, 217, 0.4);
        .feature-image {
          width: 4.166vw;
          height: 7.4074vh;
          flex-shrink: 0;
        }
        .feature-title {
          color: var(--Button-Secondary, #4d3699);
          text-align: center;
          font-family: "Poppins";
          font-size: 1.3021vw;
          font-style: normal;
          font-weight: 500;
          line-height: 2.3148vh; /* 100% */
        }
        .feature-para {
          width: 20vw;
          color: rgba(30, 30, 30, 0.8);
          text-align: center;
          font-family: "Poppins";
          font-size: 1vw;
          font-style: normal;
          font-weight: 400;
          line-height: 2.3148vh; /* 138.889% */
        }
      }
    }
  }

  .profile-tabs {
    margin-top: 28vh;
    h1 {
      color: var(--Headings, #5271ff);
      text-align: center;
      font-family: "Poppins";
      font-size: 2.6041vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .tabs {
      width: 40vw;
      height: 9.26vh;
      flex-shrink: 0;
      border-radius: 10.4166vw;
      background: var(--Text-White, #ede7ff);
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: all;
      transition-duration: 400ms;
      cursor: pointer;
      margin-top: 3.426vh;
      button {
        all: unset;
      }
      .it-profile {
        margin: 0 auto;
        text-align: center;
        transition: all;
        transition-duration: 400ms;
        width: 21.5vw;
        height: 7.41vh;
        flex-shrink: 0;
        border-radius: 2.6041vw;
        margin-left: 0.5208vw;
        margin-right: 0.5208vw;
        background: var(--Button-Secondary, #4d3699);
        button {
          margin: 0 auto;
          text-align: center;
          color: var(--Text-White, #ede7ff);
          font-family: "Poppins";
          font-size: 1.5625vw;
          font-style: normal;
          font-weight: 400;
          line-height: 7.22vh; /* 260% */
        }
      }

      button {
        transition: all;
        transition-duration: 400ms;

        color: var(--Background, #28196a);
        text-align: center;
        font-family: "Poppins";
        font-size: 1.5625vw;
        font-style: normal;
        font-weight: 400;
        line-height: 7.22vh; /* 260% */
      }
    }
  }

  .cards-section {
    width: 84vw;
    margin-top: 7.13vh;
    margin-left: 8.2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .profile-cards {
      width: 26.823vw;
      height: 75vh;
      flex-shrink: 0;

      .profile-image {
        width: 26.5vw;
        height: 20vh;
        flex-shrink: 0;
        border-radius: 14px 14px 0px 0px;
        z-index: -10px;
      }
      .inner-card-container {
        margin-top: -6px;
        .card-bg-image {
          width: 26.5vw;
          height: 46vh;
          border-radius: 0px 0px 14px 14px;
          position: absolute;
          z-index: -1px;
        }
        .card-contents {
          position: absolute;
          z-index: 10px;
          height: 34.074vh;
          width: 25vw;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 13px;
          margin-left: 2.6vw;
          margin-top: 2.4074vh;

          .h3 {
            color: var(--Button-Secondary, #4d3699);
            font-family: "Poppins";
            font-size: 0.9375vw;
            font-style: normal;
            font-weight: 500;
            line-height: 2.315vh; /* 138.889% */
          }
          .heading-part {
            height: 5.0925vh;
            width: 23vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 3px;

            h2 {
              color: var(--Button-Secondary, #4d3699);
              font-family: "Poppins";
              font-size: 1.302vw;
              font-style: normal;
              font-weight: 500;
              line-height: 2.315vh; /* 100% */
            }
            span {
              color: var(--Text-Pink, #ff5082);
              font-family: "Poppins";
              font-size: 0.9375vw;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }

          .skills-part {
            height: 5.55vh;
            width: 20.0916vw;
            margin-top: 1.204vh;
            display: flex;
            align-items: center;

            gap: 7px;

            img {
              width: 2.5vw;
              height: 4.63vh;
            }
          }

          .eligibility-section {
            height: 15.7407vh;
            width: 21.8492vw;
            display: flex;
            align-items: flex-start;
            gap: 3px;
            .para-section {
              height: 15.7407vh;
              width: 23vw;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 10px;
              p {
                width: 18vw;
                margin-left: 3px;
                color: var(--Background, #28196a);

                /* P2 */
                font-family: "Poppins";
                font-size: 0.8333vw;
                font-style: normal;
                font-weight: 400;
                line-height: 2.315vh; /* 156.25% */
              }
            }
          }

          .buttons-section {
            margin-top: 1.2vh;
            width: 22vw;
            height: 4.074vh;
            display: flex;
            gap: 1vw;
            margin-left: 0.5vw;
            button {
              all: unset;
            }
            .view-more-btn:hover {
              transition: all;
              transition-duration: 450ms;
              background-color: #ff5082;
              border: 3px solid #ff5082;
            }
            .view-more-btn {
              transition: all;
              transition-duration: 450ms;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 10vw;
              height: 6.5vh;
              background: var(--Button, #5e42bb);
              border-radius: 0.5208vw;
              cursor: pointer;

              span {
                //TYPOGRAPHY

                color: var(--Text-White, #ede7ff);
                text-align: center;
                leading-trim: both;
                text-edge: cap;
                font-family: "Poppins";
                font-size: 1.2vw;
                font-style: normal;
                font-weight: 800;
                line-height: 1.66vh; /* 100% */
              }
            }
            .apply-now-btn:hover {
              transition: all;
              transition-duration: 450ms;
              background: transparent;
              border: 3px solid #f90;
              color: #f90;
            }
            .apply-now-btn {
              transition: all;
              transition-duration: 450ms;
              display: flex;
              width: 10vw;
              height: 6.5vh;
              color: var(--Text-White, #ede7ff);
              justify-content: center;
              align-items: center;
              background: var(--Subheading, #f90);
              border-radius: 0.5208vw;
              cursor: pointer;

              //TYPOGRAPHY
              color: var(--Text-White, #ede7ff);
              leading-trim: both;
              text-edge: cap;
              font-family: "Poppins";
              font-size: 1.2vw;
              font-style: normal;
              font: 800;
              font-weight: 800;
              line-height: 1.66vh; /* 100% */
            }
          }
        }
      }
    }
    .swiper {
      .swiper-wrapper {
        border-radius: 2vw;
      }
      .swiper-button-next {
        margin-top: -5vh;
      }
      .swiper-button-prev {
        margin-top: -4.5vh;
      }
      .swiper-pagination {
        margin-top: 5vh;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* Styling for each pagination bullet */
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #999; /* Inactive bullet color */
        margin: 0 5px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      /* Styling for the active pagination bullet */
      .swiper-pagination-bullet-active {
        background-color: #293ed6; /* Active bullet color */
      }
    }
  }

  .certificate-section {
    margin-top: 24vh;

    .main-certi-section {
      width: 67.7083vw;
      height: 50.6481vh;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      .certi-heading-section {
        text-align: center;
        .certi-title {
          color: var(--Headings, #5271ff);
          font-family: "Poppins";
          font-size: 2.6041vw;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .certi-heading {
          margin-top: 2.22vh;
          color: var(--Text-Pink, #ff5082);
          font-family: "Poppins";
          font-size: 1.5625vw;
          font-style: normal;
          font-weight: 400;
          line-height: 2.3148vh; /* 83.333% */
        }
      }

      .certi-main-section {
        display: flex;
        gap: 5.5vw;
        margin-top: 4.8148vh;
        img {
          width: 35vw;
          height: 53vh;
          flex-shrink: 0;
        }
        .certi-right-section {
          display: flex;
          flex-direction: column;

          .sub-section {
            margin-top: 8vh;
            .sub-heading {
              color: var(--Button-Secondary, #4d3699);
              font-family: "Poppins";
              font-size: 1.5625vw;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            .sub-para {
              margin-top: 2vh;
              margin-bottom: 4vh;
              width: 20.1042vw;
              color: var(--Text-Black, #1e1e1e);
              leading-trim: both;
              text-edge: cap;

              /* P1 */
              font-family: "Poppins";
              font-size: 0.9375vw;
              font-style: normal;
              font-weight: 400;
              line-height: 2.7777vh; /* 166.667% */
            }
          }
        }
      }
    }
  }

  .companies-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 76.3541vw;
    height: 25.7407vh;
    flex-shrink: 0;
    .comp-head {
      gap: 2.7083vw;
      margin-top: 60vh;
      display: flex;
      align-items: center;
      .hr-line {
        width: 6.25vw;
        height: 1px;
        background: rgba(30, 30, 30, 0.3);
      }
      .company-heading {
        color: var(--Headings, #5271ff);
        text-align: center;
        font-family: "Poppins";
        font-size: 2.6041vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    .company-tagline {
      margin-top: 0.6481vh;
      color: var(--Text-Pink, #ff5082);
      text-align: center;
      font-family: "Poppins";
      font-size: 1.5626vw;
      font-style: normal;
      font-weight: 400;
      line-height: 2.3148vh; /* 83.333% */
    }
    .company-images {
      margin-top: 8vh;
      gap: 1.2vw;
      display: flex;
      justify-content: flex-start; // Adjust alignment as needed
      align-items: center;
      padding-left: 40%; // Adjust padding as needed
      animation: scroll 20s linear infinite;
      flex-shrink: 0;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden; // Hide overflowing content
    }

    .company-images:hover {
      animation-play-state: paused;
    }

    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
  }

  .testimonial-section {
    margin-top: 58vh;
    display: flex;

    .testimonial-left-section {
      margin-top: 34vh;
      margin-left: 10vw;
      .testimonial-left-heading {
        width: 25vw;
        height: 14.4444vh;
        color: var(--Headings, #5271ff);

        /* H1 */
        font-family: "Poppins";
        font-size: 3.125vw;
        font-style: normal;
        font-weight: 600;
        line-height: 7.2222vh; /* 130% */
      }
      .testimonial-left-para {
        margin-top: 1.3888vh;
        color: var(--Text-Pink, #ff5082);
        font-family: "Poppins";
        font-size: 1.5625vw;
        font-style: normal;
        font-weight: 400;
        line-height: 2.3148vh; /* 83.333% */
      }
    }

    .testimonial-right-section {
      margin-left: 6.5vw;
      width: 66.875vw;
      height: 92vh;
      flex-shrink: 0;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 2vw;
    }

    .forward {
      margin-left: 95vw;
      cursor: pointer;
      position: absolute;

      .forward-image {
        height: 5.5vh;
        width: 2.3vw;
        margin-top: 82vh;
        margin-left: 1vw;
        z-index: 100;
      }
      .forward-image-mobile{
        display: none;
      }
    }
    .testimonial-inner-right-frame {
      margin-left: 51vw;
      margin-top: 8.3vh;
      position: relative;
      transition: transform 0.5s ease-in-out;
      display: inline-flex;
      height: 75vh;
      width: 48.5937vw;
      padding: 29px 0px;
      justify-content: flex-end;
      align-items: center;
      flex-shrink: 0;
      gap: 2vw;
      position: absolute;

      .card-frame {
        width: 24.2187vw;
        // animation: scroll 20s linear infinite;
        height: 68vh;
        flex-shrink: 0;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 6px 20px 0px #2a1961;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        cursor: pointer;
        :hover {
          transform: scale(1);
        }
        @keyframes cards {
          0% {
            transform: translateX(100%);
          }
          100% {
            transform: translateX(-100%);
          }
        }
        .card-inner-frame {
          text-align: justify;
          display: flex;
          margin-top: 4.5vh;
          width: 19.5315vw;
          height: 50vh;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          gap: 0.8854vw;
          flex-shrink: 0;
          .profile-image {
            margin-top: -5.4vh;
            width: 5.625vw;
            height: 10vh;
            flex-shrink: 0;
            border-radius: 5.625vw;
          }
          .profile-title {
            color: var(--Text-Black, #1e1e1e);
            text-align: center;
            font-family: "Poppins";
            font-size: 1.25vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.6666vh; /* 75% */
          }
          .profile-org {
            width: 4.6354vw;
            height: 2.8567vh;
            background: lightgray 50%;
            background-size: cover;
            background-repeat: no-repeat;
          }
          .rating {
            .span {
              color: #000;
              text-align: center;

              /* S2 */
              font-family: "Poppins";
              font-size: 1.302vw;
              font-style: normal;
              font-weight: 400;
              line-height: 25px; /* 100% */
            }
            .rating-image {
              margin-left: 1.1458vw;
              width: 6.3541vw;
              height: 2.037vh;
            }
          }
          .profile-feedback {
            height: 24.8148vh;
            flex-shrink: 0;
            align-self: stretch;
            color: var(--Text-Black, #1e1e1e);
            text-align: center;

            /* P1 */
            font-family: "Poppins";
            font-size: 1.1vw;
            font-style: normal;
            font-weight: 400;
            line-height: 2.7777vh; /* 166.667% */
          }
        }
      }
    }

    .swiper {
      .swiper-wrapper {
        border-radius: 2vw;
      }
      .swiper-button-next {
        border: none;
        background: none;
      }
      .swiper-button-prev {
        display: none;
      }
      .swiper-pagination {
        margin-top: 6vh;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* Styling for each pagination bullet */
      .swiper-pagination-bullet {
        width: 0.8vw;
        height: 2vh;
        background-color: #999; /* Inactive bullet color */
        margin: 0 5px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      /* Styling for the active pagination bullet */
      .swiper-pagination-bullet-active {
        background-color: #333; /* Active bullet color */
      }
    }
  }

  .application-form-section {
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
    align-items: center;
    .interest-para {
      color: var(--Headings, #5271ff);
      text-align: center;
      font-family: "Poppins";
      font-size: 2.6041vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .down-image{
      display: none;
    }
    .form-section {
      margin-top: 8vh;
      width: 79.5833vw;
      height: 68.2407vh;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      // .application-bg-img {
      //   border-radius: 30px;
      //   background: var(--Button-Secondary, #4d3699);
      //   background: linear-gradient(
      //       0deg,
      //       rgba(94, 66, 187, 0.9) 0%,
      //       rgba(94, 66, 187, 0.9) 100%
      //     ),
      //     lightgray 50%;
      //   background-repeat: no-repeat;
      //   background-size: cover;
      //   width: 79.5833vw;
      //   height: 68.2407vh;
      //   flex-shrink: 0;
      // }
      .form {
        display: flex;
        margin: 0 auto;
        position: absolute;
      }
    }
  }
  .footer{
    margin-top: 52vh;
  }
}

@media only screen and (min-width: 1023px) {
  .main-container {
    .who-we-are-section {
      .head-para {
        .headings-section:hover {
          cursor: pointer;
          transition: all;
          transition-duration: 600ms;
          transform: scale(1.2);
        }
        .para-section:hover {
          cursor: pointer;
          transition: all;
          transition-duration: 600ms;
          transform: scale(1.2);
        }
      }
      .feature-cards {
        .card:hover {
          cursor: pointer;
          transition: all;
          transition-duration: 600ms;
          transform: scale(1.2);
        }
      }
    }
    .information-section {
      .heading-section:hover {
        cursor: pointer;
        transition: all;
        transition-duration: 600ms;
        transform: scale(1.2);
      }
      .feature-section:hover {
        cursor: pointer;
        transition: all;
        transition-duration: 600ms;
        transform: scale(1.2);
      }
      .feature-section {
        p:hover {
          cursor: pointer;
          transition: all;
          transition-duration: 600ms;
          transform: scaleY(1.1);
        }
      }
    }
  }
}

@media (min-width: 482px) and (max-width: 1023px) {
  .main-container {
    margin-top: -17vh;
    .who-we-are-section {
      gap: 0.5vh;
      .head-para {
        .headings-section {
          h1 {
            font-size: 3.5vw;
          }
        }
        .para-section {
          font-size: 1.4vw;
          width: 70vw;
        }
      }
      .feature-cards {
        .card {
          height: 21vh;
          gap: 0.1vh;
          .feature-title {
            font-size: 1.5vw;
          }
          .feature-para {
            width: 25vw;
            font-size: 1.2vw;
          }
        }
      }
    }
    .information-section {
      margin-top: -14vh;
      .heading-section {
        h1 {
          font-size: 3.5vw;
        }
      }
      .feature-section {
        width: 70vw;
        flex-direction: column;
        .img-para {
          p {
            width: 30vw;
            font-size: 1.5vw;
          }
        }
      }
    }
  }
}
@media (max-width: 481px) {
  .main-container {
    .who-we-are-section {
      margin-top: 51.5vh;
      .head-para {
        .headings-section {
          width: 80vw;
          h1 {
            font-size: 9vw;
            font-weight: 900;
          }
          .line-1 {
            display: none;
          }
        }
        .para-section {
          width: 89vw;
          font-size: 4.7vw;
        }
      }

      .feature-cards {
        margin-top: 18vh;
        margin-left: 3.1vw;
        flex-direction: column;
        gap: 3.3vh;
        .card {
          gap: 2.2vh;
          width: 80vw;
          border-radius: 2.5vw;
          .feature-image {
            width: 12vw;
          }
          .feature-title {
            font-size: 5.2vw;
          }
          .feature-para {
            width: 75vw;
            font-size: 3.9vw;
          }
        }
      }
    }
    .information-section {
      margin-top: 75vh;
      .heading-section {
        margin-left: -2.5vw;
        h1 {
          font-size: 8.8vw;
        }
        .line-1 {
          display: none;
        }
      }
      .feature-section {
        width: 45vw;
        gap: 3.5vh;
        .img-para {
          gap: 3.5vw;
          p {
            width: 70vw;
            font-size: 3.9vw;
          }
          img {
            height: 6vh;
            width: 8vw;
          }
        }
        .img-para2 {
          margin-top: 0.2vh;
        }
      }
    }
    .profile-tabs {
      margin-top: 30vh;
      h1 {
        font-size: 8vw;
      }
      .tabs {
        width: 84vw;
        height: 7vh;
        margin-top: 2.5vh;
        .it-profile {
          height: 6vh;
          width: 41vw;
          border-radius: 10vw;
          button {
            font-size: 5vw;
            line-height: 5.8vh;
          }
        }
        button {
          font-size: 5vw;
        }
      }
    }
    .cards-section {
      margin-left: 9.3vw;
      .profile-cards {
        width: 80vw;
        .profile-image {
          width: 82vw;
        }
        .inner-card-container {
          .card-bg-image {
            width: 82vw;
            height: 50vh;
          }
          .card-contents {
            width: 82vw;
            margin-left: 3.8vw;
            .heading-part {
              width: 70vw;
              margin-left: 2vw;
              gap: 1vh;
              h2 {
                font-size: 7vw;
                line-height: 3vh;
              }
              span {
                font-size: 4.7vw;
                line-height: 2.5vh;
              }
            }
            .h3 {
              margin-left: 2vw;
              width: 50vw;
              font-size: 4.5vw;
            }
            .skills-part {
              margin-top: 2vh;
              width: 71vw;
              gap: 1px;
              img {
                width: 6.5vw;
                height: 5vh;
              }
            }
            .eligibility-section {
              .para-section {
                width: 55vw;
                p {
                  font-size: 3.6vw;
                  width: 53vw;
                }
              }
            }
            .buttons-section {
              margin-top: 4vh;
              width: 80vw;
              margin-left: -1vw;
              justify-content: space-around;
              .view-more-btn {
                width: 30vw;
                border-radius: 1.5vw;
                span {
                  font-size: 4vw;
                }
              }
              .apply-now-btn {
                margin-left: -8vw;
                width: 30vw;
                border-radius: 1.5vw;
                font-size: 4vw;
              }
            }
          }
        }
      }
      .swiper {
        .swiper-wrapper {
          border-radius: 2vw;
        }
        .swiper-button-next {
          margin-top: -5vh;
        }
        .swiper-button-prev {
          width: 1vw;
          margin-top: -4.5vh;
        }
      }
    }
    .certificate-section {
      margin-top: 22vh;
      .main-certi-section {
        width: 80vw;
        .certi-heading-section {
          .certi-title {
            font-size: 8vw;
          }
          .certi-heading {
            font-size: 5vw;
            margin-top: 0;
          }
        }
        .certi-main-section {
          flex-direction: column;
          margin-top: 1vh;
          gap: 1vh;
          img {
            margin-left: -0.5vw;
            width: 95vw;
            height: 35vh;
          }
          .certi-right-section {
            .sub-section {
              margin-top: 1vh;
              margin-left: 3vw;
              .sub-heading {
                font-size: 5vw;
              }
              .sub-para {
                color: var(--Text-Grey, #7a7a7a);
                margin-top: 0.6vh;
                margin-bottom: 3vh;
                width: 70vw;
                font-size: 3.8vw;
              }
            }
          }
        }
      }
    }
    .companies-section {
      margin-top: -8vh;
      .comp-head {
        .hr-line {
          display: none;
        }
        .company-heading {
          font: 700;
          font-size: 6vw;
          width: 95vw;
        }
      }
      .company-tagline {
        margin-top: 0;
        font-size: 4vw;
      }
      .company-images {
        margin-top: 4vh;
        animation: scroll 30s linear infinite;
      }
      @keyframes scroll {
        from {
          transform: translateX(50%);
        }
        to {
          transform: translateX(-100%);
        }
      }
    }
    .testimonial-section {
      flex-direction: column;
      margin-top: 42vh;
      .testimonial-left-section {
        display: flex;
        position: absolute;
        margin-top: 6vh;  
        z-index: 555;
        flex-direction: column;
        .testimonial-left-heading {
          width: 90vw;
          line-height: 1vh;
          margin-left: -3.2vw;
          font-size: 6.5vw;
          color: #F7F1FF;
          .mobile-br{
            display: none;
          }
        }
        .testimonial-left-para{
          font-size: 4.2vw;
          margin-top: -10.4vh;
          line-height: 0.5vh;
          margin-left: 6.9vw;
          color: #EDE7FF;
        }
      }
      .testimonial-right-section {
        margin-left: -22vw;
        width: 125vw;
        height: 96vh;
      }
      .testimonial-inner-right-frame {
        width: 85vw;
        margin-left: 8vw;
        margin-top: 12vh;
        .card-frame{
          width: 75vw;
          .card-inner-frame{
            margin-top: -3vh;
            width: 75vw;
            .profile-image{
              width: 25vw;
              height: 12vh;
            }
            .profile-title{
              margin-top: 2vh;
              font-size: 5vw;
            }
            .profile-org{
              margin-top: 1.8vh;
              width: 30vw;
              height: 3vh;
            }
            .rating{
              margin-top: 2vh;
              .span{
                font-size: 4vw;
              }
              .rating-image{
                width: 20vw;
              }
            }
            .profile-feedback{
              margin-top: 1vh;
              font-size: 4.8vw;
            }
          }
        }
      }
      .forward {
        margin-left: 65vw;
        margin-top: 6vh;
        cursor: pointer;
        position: absolute;  
        .forward-image-mobile{
          display: block;
          height: 4vh;
          width: 8vw;
          margin-top: 82vh;
          margin-left: -30vw;
          z-index: 99;
          transform: rotate(180deg);
        }
        .forward-image {
          height: 4vh;
          width: 8vw;
          margin-top: 82vh;
          margin-left: 5vw;
          z-index: 100;
        }
      }
      .swiper {
        .swiper-wrapper {
          border-radius: 2vw;
        }
        .swiper-button-next {
          border: none;
          background: none;
        }
        .swiper-button-prev {
          display: none;
        }
        .swiper-pagination {
          margin-top: 7vh;
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        /* Styling for each pagination bullet */
        .swiper-pagination-bullet {
          width: 1.4vw;
          height: 1.6vh;
          background-color: #999; /* Inactive bullet color */
          margin: 0 5px;
          border-radius: 50%;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
  
        /* Styling for the active pagination bullet */
        .swiper-pagination-bullet-active {
          background-color: #b3b6f6; /* Active bullet color */
        }
      }
    }
    .application-form-section{
      margin-top: 12vh;
      .down-image{
        display: block;
        transform: rotate(90deg);
      }
      .interest-para{
        font-size: 6vw;
      }
      .form-section{
        margin-top: 3vh;
        width: 100vw;
      }
    }
    .footer{
      margin-top: -5vh;
    }
  }
}
